.flex-viewport{
    height:100% !important;
}

.woocommerce div.product div.images.woocommerce-product-gallery{
    height: 100% !important;
}

.product-image{
    height: 550px;
}

.woocommerce-product-gallery__image.flex-active-slide{
    height: 550px !important;
}

.woocommerce.div.product.div.images img {
    object-fit: cover;
    object-position: 0% 60%;
}

.woocommerce-product-gallery__image.flex-active-slide a{
    height: 100% !important;
}


/* 
.woocommerce div.product div.images img{
    height: 100% !important;
    object-fit: cover;
    object-position: 0% 60%;
} */

@media screen and (max-width: 479px) {
    .woocommerce-product-gallery__image.flex-active-slide{
        height: 300px !important;
    }

    .product-image{
        height: 300px !important;
    }

    .woocommerce-product-gallery__image.flex-active-slide{
        height: 300px !important;
    }

    .woocommerce-product-gallery__trigger{
        display: none;
    }


    .woocommerce div.product div.images img{
        height: 100% !important;
        object-fit: cover;
        object-position: 0% 65%;
    }

    .column-7 {
        height: 400px !important;
      }

      .button.cc-add-to-cart-btn.cart-banner {
        width:128px;
    };
}

@media screen and (max-width: 991px){
    .woocommerce-product-gallery__image.flex-active-slide{
        height: 300px !important;
    }

    /* .default-state{
        float: inherit !important;
    } */

    .woocommerce-product-gallery__image.flex-active-slide{
        height: 400px !important;
    }

    .product-image{
        height: 400px !important;
    }

    .woocommerce-product-gallery__image.flex-active-slide{
        height: 400px !important;
    }

    .woocommerce-product-gallery__trigger{
        display: none;
    }


    /* .woocommerce div.product div.images img{
        height: 100% !important;
        object-fit: cover;
        object-position: 0% 65%;
    } */

    .column-7 {
        height: auto !important;
      }

      .button.cc-add-to-cart-btn.cart-banner {
        width:128px;
    };

    .woocommerce div.product div.images img {
        display: block;
        width: auto !important;
        height: 100% !important;
        box-shadow: none;
        margin: auto;
    }
}

.product-detail-cta-wrap{
    align-items: center;
}

/* hide the magnifying glass */
.woocommerce div.product div.images .woocommerce-product-gallery__trigger {
    display: none;
    position: absolute;
    top: .5em;
    right: .5em;
    font-size: 2em;
    z-index: 9;
    width: 36px;
    height: 36px;
    background: #fff;
    text-indent: -9999px;
    border-radius: 100%;
    box-sizing: content-box;
}



/* front page */
.heading-jumbo {
    background-color: rgba(0,0,0,0.2);
  box-shadow: 10px 5px 5px rgba(0,0,0,0.2);
  }

  .long-hair-story{
      height: 350px;
      width: 100%;
      object-fit: cover;
  }

/* make nav appear on mobile */
.w-nav-overlay{
    z-index: 1;
    top: 60px;
    height: 250px !important;
    background-color: #fef6f6;
}


/* blog post image height and centering */
.blog-post-image{
    height: 30rem;
    margin: auto;
}

/* image on blog posts page */
.posts-image{
    height:25rem;
    margin: auto;
}

/* image on page */
.page-image{
    height:25rem;
    margin: auto;
}

.widget{
    padding: 1.5rem;
    list-style-type: none;
    margin: 0;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

    border-radius: 0.25rem;
}

.widget ul{
    list-style-type: none;
    padding:  0;
    margin: 0;
}

.blog-post{
    padding: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 0.25rem;
    margin-bottom: 2rem;
}

